
form#CustomerEditForm div.input
{
    display: inline-block;
    margin-right: 50px;
}

div#editModal.modal
{
    left: 45%;
    width: 770px;
}

.well
{
    background-color: #FAFAFA;
}

form#CustomerEditForm label
{
    
}

form#CustomerEditForm textarea, 
form#CustomerEditForm input[type="text"], 
form#CustomerEditForm input[type="number"],
form#CustomerEditForm input[type="password"],
form#CustomerEditForm input[type="email"]
{
    background: #f9f9f9;
    border: none;
    background: transparent;
    border-bottom: 1px dotted #58A6F2;
}

div#editModal.modal .modal-body {
    overflow: hidden;
}

div#editModal.modal .modal-body:hover {
    /* overflow-y: scroll; */
    overflow-y: auto;
}

div.customers.form div.span3.actions
{
    margin-top: 57px;
}